@model WebDoAn.Models.EF.Review
<link rel="stylesheet" type="text/css" href="~/Content/Asset/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/Asset/styles/single_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/Asset/js/single_custom.js">
<div class="add_review">
    @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_review",
        OnSuccess = "OnSuccessRE",
        OnFailure = "OnFailureRE",
        OnBegin = "OnBeginRE"

    }, new { @Id = "review_Form" }))
    {
        <script>
            function OnBeginRE() {
                $('#review_submit').attr("disabled", "disabled");
                $('#load_send').html('<h2>Đang gửi...</h2>');
            }
            function OnSuccessRE(res) {
                if (res.Success) {
                    $("#review_Form")[0].reset();
                }

            }
        </script>
        @Html.AntiForgeryToken()
            <div>
                <h1>Thêm đánh giá</h1>
                @Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "FullName", @id = "review_name" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_name", @placeholder = "Email", @id = "review_email" })
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.ProductId, new { @value = ViewBag.ProductId })
            </div>
            <div>
                <h1>Rate:</h1>
                <ul class="user_star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                @Html.TextAreaFor(x => x.Content, new { @class = "input_review", @rows = "4", @placeholder = "Your Review" })
            </div>
        <div class="text-left text-sm-right">
            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gửi</button>
        </div>
    }
</div>